*{
    padding: 0;
    margin: 0;
}
.container{
    background: grey;
    display: flex;
    flex-direction: column-reverse;
    

}
.child{
    background: white;
    margin: 5px;
    font-size: 2rem;
}